logs/
.vs/
App.config
bin/
obj/
Properties/
Form1.resx
bin/Debug/StandardCalculator.exe
bin/Debug/StandardCalculator.exe.config
bin/Debug/StandardCalculator.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/StandardCalculator.Properties.Resources.resources
obj/Debug/StandardCalculator.csproj.AssemblyReference.cache
obj/Debug/StandardCalculator.csproj.CoreCompileInputs.cache
obj/Debug/StandardCalculator.csproj.FileListAbsolute.txt
obj/Debug/StandardCalculator.csproj.GenerateResource.cache
obj/Debug/StandardCalculator.eight.resources
obj/Debug/StandardCalculator.exe
obj/Debug/StandardCalculator.pdb
Properties/AssemblyInfo.cs
Properties/Resources.Designer.cs
Properties/Resources.resx
Properties/Settings.Designer.cs
Properties/Settings.settings
.vs/StandardCalculator/v16/.suo
App.config


